::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffbc02;
}

body {
  margin: 0;
  background-color: #fffafa;
}

.navbar {
  width: 100%;
  background-color: #f4f9f9;
}
.navbar-brand {
  font-size: 18px;
  padding-left: 90px;
  letter-spacing: 1px;
}
.logo-pic img {
  width: 45px;
  border-radius: 50%;
}
.brand-name span {
  display: block;
}
.firstname,
.lastname {
  margin: -5px auto;
}
.navbar-nav {
  padding-right: 80px;
}
.nav-option {
  font-size: 18px;
  margin-right: 25px;
  color: #000000;
}
.nav-option:hover {
  color: #ffbc02;
}

/* ! Media queries */

@media (max-width: 400px) {
  .navbar {
    width: 100%;
    background-color: #f4f9f9;
  }
  .nav-item {
    margin-top: 8px;
  }
  .navbar-brand {
    padding-left: 0;
  }
  .brand-name span {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 1000px) {
  .navbar-brand {
    padding-left: 0;
  }
}

@media (min-width: 400px) {
  .nav-item {
    margin-top: 8px;
  }
}
